// Main Colors
$red: #FF0000;
$blue: #063D5D;
$black: #000000;
$white: #ffffff;
$gray: #dcdcdc;
$light-blue: #C7EAFB;
$lighter-blue: #f9fdff;
$teal: #00B5AD;
$orange: #F2711C;
$violet: #6435C9;
$purple: #A333C8;
$pink: #E03997;
$brown: #A5673F;
$grey: #767676;


// Red Dark Tones
$red-dark-1: #e60000;
$red-dark-2: #cc0000;
$red-dark-3: #b30000;
$red-dark-4: #990000;
$red-dark-5: #800000;
$red-dark-6: #660000;
$red-dark-7: #4c0000;
$red-dark-8: #330000;
$red-dark-9: #190000;

// Red Light Tones
$red-light-1: #ff1a1a;
$red-light-2: #ff3333;
$red-light-3: #ff4d4d;
$red-light-4: #ff6666;
$red-light-5: #ff8080;
$red-light-6: #ff9999;
$red-light-7: #ffb3b3;
$red-light-8: #ffcccc;
$red-light-9: #ffe6e6;


// Blue Dark Tones
$blue-dark-1: #053754;
$blue-dark-2: #05314a;
$blue-dark-3: #042b41;
$blue-dark-4: #042538;
$blue-dark-5: #031f2f;
$blue-dark-6: #021825;
$blue-dark-7: #02121c;
$blue-dark-8: #010c13;
$blue-dark-9: #010609;

// Blue Light Tones
$blue-light-1: #1f506d;
$blue-light-2: #38647d;
$blue-light-3: #51778e;
$blue-light-4: #6a8b9e;
$blue-light-5: #839eae;
$blue-light-6: #9bb1be;
$blue-light-7: #b4c5ce;
$blue-light-8: #cdd8df;
$blue-light-9: #e6ecef;
